  *{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background:#2F4F4F;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 0px 10%;
}
.logo{
    width: 100px;
    margin-bottom: 10px;
}
.social-icons0{
    margin-top: 30px;

}
.social-icons0 a{
    text-decoration: None;
    font-size: 30px;
    margin-right: 15px;
    color: rgb(0, 0,128);
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons0 a:hover{
    color: #FFD700;
    transform: translateY(-5px);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
}
nav ul li{
    display: inline-block;
    list-style: None;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: None;
    font-size: 18px;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background:#FFD700;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.text1{
    font-family:unset;
    color:white;
}
.header-text{
    margin-top: 10%;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    
    color:#000080;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.header-text p{
    font-family:cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 40px;
}
/*-----------------about--------------*/
#about{
    padding: 80px 0;
    color:white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.about-col-2 .read-more-button {
    display: none;
  }
  
  .about-col-2.expanded .read-more-button {
    display: inline-block;
  }
  
  .about-col-2 .more-content {
    display: none;
  }
  
  .about-col-2.expanded .more-content {
    display: block;
  }
  
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;

}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #FFD700;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: None;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #FFD700;
    font-size: 14px;

}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
 /*--------------------Services------------*/
#Services{
    padding: 30px 0;
}
.Services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.Services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s , transform 0.5s;
}
.Services-list div i{
    font-size: 50px;
    margin-bottom: 30px;

}
.Services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.Services-list div a{
    text-decoration: None;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.Services-list div:hover{
    background: #FFD700;
    transform: translateY(-10px);
}

/*-----------portfolio------------*/
#Portfolio{
    padding: 50px 0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.work{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#FFD700);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0, 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}
.layer a{
    margin-top: 20px;
    color: #FFD700;
    text-decoration: None;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;

}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #FFD700;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: None;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #FFD700;
}

/*------------------contact-------------*/
#contact{
    /* padding: 50px 0; */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;

} 
.contact-left p i{
    color: #FFD700;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: None;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #FFD700;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #FFD700;
    transition: transform 0.5;
}
.btn.btn2:hover{
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #000000;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form btn2{
    padding: 14px 16px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.btn2 {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
  }
  
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
/*------------------------CSS for small screens------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
nav .fa-solid {
    display: None;
}
@media only screen and (max-width: 600px){
    * {
        margin: 0;
        padding: 0;
        font-family: "poppins", sans-serif;
        box-sizing: border-box;
      }
      
      body{
    background:#2F4F4F;
    color: #fff;
} 

    
      #header {
        width: 100%;
        height: 100vh;
        background-image: url(images/phone-background1.png);
        background-size: cover;

        background-position: center;
      }
      #software{
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

      }
      
      .container {
        padding: 10px 10%;
      }
      
      .logo {
        width: 10px;
      }
      
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      
      nav ul li {
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
      }
      
      nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        position: relative;
        display: block;
        font-family: 'poppins', sans-serif;
        font-weight:400;
        font-size:100%;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }
      
    nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #FFD700;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    }
    
    nav ul li a:hover::after {
    width: 100%;
    }
    
      .header-text {
        margin-top: 20%;
        font-size: 30px;
      }
      
      .header-text h1 {
        font-size: 60px;
        margin-top: 20px;
      }
      
      .header-text h1 span {
        color:rgba(0, 0, 0, 0.5);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }
      .header-text p{
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;        
      }
      .text1{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      
      
      /* Media Query for Small Screens */
      @media only screen and (max-width: 768px) {
        
        .container {
          padding: 10px 5%;
        }
      
        .logo {
          width: 100px;
        }
      
        nav ul li {
          margin: 10px 10px;
        }
        
      
        .header-text {
          margin-top: 10%;
          font-size: 24px;
        }
      
        .header-text h1 {
          font-size: 40px;
          margin-top: 10px;
        }
      }
      .social-icons{
        margin-top: 30px;
    
    }
    .social-icons a{
        text-decoration: None;
        font-size: 30px;
        margin-right: 15px;
        color: #ababab;
        display: inline-block;
        transition: transform 0.5s;
    }
      .social-icons a:hover{
        color: #FFD700;
        transform: translateY(-5px);
    }
    .btn.btn2{
        display: inline-block;
        background: #FFD700;
        transition: transform 0.5;
    }
    .btn.btn2:hover{
        transform: translateY(-5px);
    }
      
      /* Remaining CSS Code... */
      /* ... */
      

}
